
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//@import '~bootstrap/scss/bootstrap';
//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~bootstrap-vue/dist/bootstrap-vue.css";
// required for the registaring of api oauth component, requires npm install
//@import '~bulma/bulma';

body {
  background: #f7f7f7;
  font-family: Nunito, sans-serif;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
}

.py-4 {
  width: 350px;
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  height: 400px;
}

h1.login-title {
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align: center;
}

.login-input {
  height: 50px;
  width: 250px;
  padding: 0 0 0 10px;
  font-size: 18px;
  color: #515151;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-input:focus {
  border-color: #6e8095;
  outline: none;
}

.login-button {
  height: 50px;
  width: 150px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #333cf0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.login-lost {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  color: #666;
  text-decoration: none;
  font-size: 13px;
}

.login-lost a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}


