
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//@import '~bootstrap/scss/bootstrap';
//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~bootstrap-vue/dist/bootstrap-vue.css";
// required for the registaring of api oauth component, requires npm install
//@import '~bulma/bulma';

body {
    background: $body-bg;
    font: 100% font-family-sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border: 1px solid #c4c4c4;
}

h1.login-title {
    margin: 0 0 20px 0;
    height: 60px;
    flex-grow: 100;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;

}

.login-input {
    flex-grow: 100;
    height: 50px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    flex-grow: 100;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #333cf0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:0;
}

.login-lost
{
    width: 100%;
    text-align:center;
    margin-bottom:0px;
    color:#666;
    text-decoration:none;
    font-size:13px;
}

.login-lost a
{
    color:#666;
    text-decoration:none;
    font-size:13px;
}

